# mmsci-data
mmsci-data/benchmark/
mmsci-data/rawdata/
mmsci-data/pretraindata/
mmsci-data/scripts/
mmsci-data/scripts/prepare_*.py
mmsci-data/scripts/process_*.py
mmsci-data/scripts/summarize.py
mmsci-data/scripts/anonymize.py
mmsci-data/scripts/conversation.py
mmsci-data/PROCESSING.md
mmsci-data/__pycache__/

# mmsci-exps
mmsci-exps/wandb
mmsci-exps/checkpoints/
mmsci-exps/eval/output/
mmsci-exps/eval/eval_scores/
mmsci-exps/__pycache__/
mmsci-exps/eval/output/

# rebuttal
paperwritting/human-baseline-mmsci/images
paperwritting/human-baseline-mmsci/splits
paperwritting/human-baseline-mmsci/human_eval_results_*/
paperwritting/human-baseline-arxivqa/arxivqa/
paperwritting/human-baseline-arxivqa/images
paperwritting/human-baseline-scifibench/scifibench
paperwritting/human-baseline-scifibench/images



# miscellaneous
VILA/
crystal-text-llm/
zip/
plotting/
pics/
scp.sh
test.py
test/
*.zip
benchmark/
deprecated/
checkpoints/
paperwritting/
api_keys.json

# Python
__deprecated__/
__pycache__/
*.pyc
*.egg-info
dist
*.pkl

# Log
*.log
*.log.*

# Editor
.idea
*.swp
.DS_Store
wandb

# DevContainer
!.devcontainer/*


